.img_warning {
	width: 20px;
	margin-left: 20px;
}

.warning_inscription {
	background-color: #FF0000;
	color: #00FFFF;
	margin-left: 10px;
}


.warning_insciption_bas_de_page {
	position: absolute;
	text-shadow: 0.05em 0.05em 0.02em black;
}

div.warning_insciption_bas_de_page {
	background-color: #EBAD1C;
	color : #EDEDDF;

	//margin-top: 3px;
	//margin-left: 65px;

	padding : 8px;
}

div.mode_enerve {
	margin-left: 65px;
	padding : 4px;
}

.cote_droit {
	position: absolute;
	top: 5%;
	right: 5%;

	padding: 10px;	
}

.form_didentification {
	background-color: #26B3EB;
	border: 2px solid black;

	text-shadow: 0.05em 0.05em 0.02em black;
}

.actions_connecte {
	text-align: right;
}

.imossible_de_se_connecter {
	background-color : #F4DD2C;
	color : #ff5050;
	border : 2px groove #7c4e07;
	padding : 3px;
	padding-left : 8px;

	box-shadow: 0.02em 0.02em 0.02em black;
}

.achat_cours {
	display: inline;
	margin-left: 35px;
}